<html>
    <head>
        <title>학생 정보</title>
    </head>
    <body>
        <h1>학생 정보 입니다.</h1>
        <!-- link -->
        <a href="/">강의 목록<a>으로 이동
        <table border="1">
            <thead>
                <th>학생번호</th>
                <th>이름</th>
                <th>나이</th>
                <th>주소</th>
            </thead>
            <tbody>
                <!--for-->
                {%for student in data.students %}
                    <tr>
                        <td>{{student.student_id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.addr}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </body>
</html>